HK.PEIS/HK.PEIS.Web.Service/Connected Services/SR_FactoryLayout/IFactoryLayoutWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HK.PEIS.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HK.PEIS.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTO_TM_PLANT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTO_TM_PLANT" nillable="true" type="tns:DTO_TM_PLANT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTO_TM_PLANT" nillable="true" type="tns:ArrayOfDTO_TM_PLANT" />
  <xs:complexType name="DTO_TM_PLANT">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO_BASEMODEL">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTO_TM_PLANT" nillable="true" type="tns:DTO_TM_PLANT" />
  <xs:complexType name="DTO_BASEMODEL">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DTO_BASEMODEL" nillable="true" type="tns:DTO_BASEMODEL" />
</xs:schema>