HK.PEIS/HK.PEIS.Web.Service/Connected Services/SR_FactoryLayout/IFactoryLayoutWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8089/MyWCF.Server/IFactoryLayoutWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HK.PEIS.DTO" />
  <xs:element name="GetAllPlant">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HK.PEIS.DTO" minOccurs="0" name="GetAllPlantResult" nillable="true" type="q1:ArrayOfDTO_TM_PLANT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>